@charset "utf-8";
/* EpisodeⅢ : 미디어쿼리 CSS - media.css */

/*********** 가로 1540px 이하 사이즈 시작 ***********/
@media (max-width: 1540px) {
    .page {
        height: auto;
    }

    /* 메인 이미지 위 이미지, 텍스트 */
    .m {
        top: auto;
        bottom: 0;
        transform: translate(-50%, 0);
        left: 50%;
    }

    .cont {
        /* 비율설정 */
        aspect-ratio: 1/1.3;
        background: 130%;
    }

    .main_txt {
        font-size: 12px;
        padding-bottom: 17px;
        font-weight: normal;
    }

    .mv_tit {
        font-size: 35px;
        font-weight: normal;
    }

    .mv_poster {
        width: 30%;
    }

    .mv_poster img {
        width: 100%;
    }

    /* 선택메뉴 ul */
    .vlist ul {
        flex-wrap: wrap;
        /* 사이 간격: 위아래, 양쪽 */
        gap: 1vh, 2.2%;
    }

    /* 선택메뉴 상위 li */
    .vlist ul > li {
        /* 사이간격 마진이 빠진 비율 */
        /* -> flex-basis는 width와 같지만 flex 통합 설정에서는 flex-basis로 재정의 */
        flex-basis: 31.83%;
        text-align: center;
    }
}
/*********** 가로 1540px 이하 사이즈 종료 ***********/

/*********** 가로 950px 이하 사이즈 시작 ***********/
@media (max-width: 950px) {
    .ham {
        display: block;
    }
    .m_gnb {
        z-index: 100;
    }
    .m_gnb:hover .ham + .mlist {
        height: 130px;
    }

    .m_gnb .mlist {
        position: absolute;
        top: 20px;
        right: 0;
        /* display: none; */
        overflow: hidden;
        height: 0px;
        transition: 0.3s;
        /* outline: 1px solid red; */
    }
    .m_gnb .mlist ul {
        padding: 10px 15px;
        background-color: rgba(255, 255, 255, 0.415);
        border-radius: 15px;
    }
    .m_gnb.on ul li {
        float: none;
        line-height: 2;
    }
    .top ul > li + li {
        margin: 0;
    }

    /* 메인 이미지 위 이미지, 텍스트 */
    .m {
        top: auto;
        bottom: 0;
        transform: translate(-50%, 0);
        left: 50%;
    }

    .cont {
        /* 비율설정 */
        aspect-ratio: 1/1.3;
        background: 130%;
    }

    .main_txt {
        font-size: 12px;
        padding-bottom: 17px;
        font-weight: normal;
    }

    .mv_tit {
        font-size: 25px;
        font-weight: normal;
    }

    .mv_poster {
        width: 40%;
    }

    .mv_poster img {
        width: 100%;
    }

    /* 선택메뉴 ul */
    .vlist ul {
        flex-wrap: wrap;
        /* 사이 간격: 위아래, 양쪽 */
        gap: 1vh, 2.2%;
    }

    /* 선택메뉴 상위 li */
    .vlist ul > li {
        /* 사이간격 마진이 빠진 비율 */
        /* -> flex-basis는 width와 같지만 flex 통합 설정에서는 flex-basis로 재정의 */
        flex-basis: 31.83%;
        text-align: center;
    }

    /* 하단 영역 */

    #info address {
        font-style: normal;
        color: #fff;
        font-family: 'Noto Sans KR';
        font-size: 15px;
        line-height: 20px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .int{
        display: block;
        /* margin-left: 15%; */
        text-align: center;
        font-size: 8px;
        color: #b5b7b7;
        display: none;
    }

    #info address img {
        position: absolute;
        transform: scale(.5);
        float: left;
        margin-right: 2px;
        margin-top: -32px;
    }
    

    .sns {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .bld {
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .sns li {
        width: 34px;
        height: 34px;
        float: left;
        margin: 2px;
        background: url(../img/sprites_logo.png) no-repeat;
    }

    .sns li:nth-child(1) {
        background-position: -509px -429px;
    }

    .sns li:nth-child(2) {
        background-position: -551px -429px;
    }

    .sns li:nth-child(3) {
        background-position: -593px -429px;
    }

    .sns a {
        display: block;
        width: 100%;
        height: 100%;
    }
}
/*********** 가로 950px 이하 사이즈 종료 ***********/
