@charset "UTF-8";

/* 리셋 css */
@import url(./reset.css);

/* 임시 배경 */
body{
    background-color: #000;
}

.top{
    position: relative;
}

/* 로고 */
.tlogo img{
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.tlogo>a {
    display: block;
    width: 100%;
    height: 100%;
}

/* 상단 gnb 메뉴 */
.top ul{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    gap: 0.7vw;
    margin-right: 10px;
}

/* 상단 gnb 메뉴 글자색 변경 */
.top ul li a{
  color: #b5b7b7;
}

.main_bn{
  position: relative;
}

/* 영화 메인 이미지 크기 */
.bg{
  background-image: url(../img_episodeⅢ/);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.text_con{
  position: absolute;
  bottom: 30px;
  color: #fff;
  text-align: center;
}

.text_con>h2{
  font-size: 50px;
}

.mposter img{
  width: 25vw;
  padding: 50px;
}

