@charset "UTF-8";

/* 리셋 css */
@import url(./reset.css);

/* 임시 배경 */
body{
    background-color: #555;
}

.top{
    position: relative;
}

/* 로고 */
.tlogo{
    width: 200px;
    height: auto;
    margin: 0 auto;
}

.tlogo>a {
    display: block;
    width: 100%;
    height: 100%;
}

.top ul{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    gap: 0.7vw;
}