@charset "utf-8";
/* EpisodeⅢ : 메인CSS - main.css */

/* 외부 css 합치기 */
@import url(./reset.css);
@import url(./common.css);

/* 2-1. sub 메인 */

    /* 메인 이미지 */

        /* .m 부모 */
        .main_bn{
            position: relative;
        }

        /* 메인 이미지 크기, 가운데 정렬 */
        .main_img>img{
            display: block;
            width: 80%;
            height: auto;
            margin: 0 auto;
        }

        /* 메인 이미지 위 이미지, 텍스트 */
        .m{
            position: absolute;
            top: 0;
            left: 25%;
            top: 50%;
            transform: translate(-50%,-50%);
        }

        .tit_img>img{
            display: block;
            width: 15vw;
            height: auto;
            margin: 0 auto;
            padding: 0 0 20px 0;
        }

        .main_txt{
            text-align: center;
        }

    /* 영화 포스터 */

    .mv{
        display: flex;
        width: 70%;
        padding: 40px 0;
        margin: 0 auto;
    }

    .mv_poster>img{
        display: block;
    }

    /* 영화 제목 및 줄거리 */

    .mv_intro{
        padding: 0 0 0 53px;
        width: 840px;
    }

        /* 영화 제목 */
        .mv_tit{
            font-size: 40px;
            margin: 0 0 12px;
        }

        /* 영화 장르 */
        .mv_genre{
            color: #b5b7b7;
            font-size: 14px;
            padding: 0 0 30px 4px;
        }

        /* 영화 줄거리 */
        .mv_sumr{
            color: #b5b7b7;
            font-size: 16px;
            font-weight: normal;
            margin: 0 0 24px;
        }

    /* 텍스트 이미지 */
    .txt_img{
        width: 76px;
        height: 32px;
    }

    .txt_img>img{
        width: 100%;
        height: 100%;
    }

/* sub 제목 공통 */
.tit{
    text-align: center;
    font-size: 30px;
}

/* 2-2. sub 동영상 */
#cont {
    position: relative;
    height: 788px;
}

#screen {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 701px;
    height: 398px;
    background-color: #000;
}

#screen iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.mlist {
    /* display: flex; */
    position: absolute;
    bottom: 100px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%,0%);
    overflow: hidden;
}

.mlist ul>li {
    padding: 0 10px;
    cursor: pointer;
}

.mlist img {
    width: 202px;
    height: 113px;
}

/* 2-3. sub 갤러리 */

    /* 이미지 박스 */
    .photo{
        width: 70%;
        padding: 40px 0;
        margin: 0 auto;
    }

    #photo{
        width: 100%;
        height: auto;
    }